*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
        height: 100vh;
}

.container{
    width: 500px;
    margin: auto;
    overflow: hidden;
}

.todo-card{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    margin: 100px 0;
}
.gap{
    gap: 5px;
}
.mtb{
    margin: 20px 0;
}
.row{
    display: flex;
}

.w-80{
    width: 80%;
}
.w-20{
    width: 20%;
}

.w-100{
width: 100%;
}


.btn-add{
    background-color: purple;
    padding: 10px 20px;
    border: 0;
    color: white;
}

.input{
    padding: 10px;
}

.tb{
    background-color:rgb(226, 226, 226);
    padding: 10px;
    margin: 10px 0;
}

.tb:hover a{
    display: unset;
}

.tb a{
    margin-left: auto;
    text-decoration: none;
    display: none;
    /* padding: 10px 20px;
    background-color: red; */
    color: red;

}

.a1{
    margin-left: auto;
    text-decoration: none;
    padding: 10px 20px;
    background-color: purple;
    color: white;
}